.idea
.vscode
*.code-workspace
node_modules
*.js
/external_contracts/eosio.token/eosio.token.ts
/dac_contracts/stakevote/stakevote.ts
/dac_contracts/referendum/referendum.ts
/dac_contracts/eosdactokens/eosdactokens.ts
/dac_contracts/distribution/distribution.ts
/dac_contracts/dacproposals/dacproposals.ts
/dac_contracts/dacmultisigs/dacmultisigs.ts
/dac_contracts/dacescrow/dacescrow.ts
/dac_contracts/dacdirectory/dacdirectory.ts
/dac_contracts/daccustodian/daccustodian.ts
/artifacts/compiled_contracts/external_contracts/eosio.token/eosio.token.wasm
/artifacts/compiled_contracts/external_contracts/eosio.token/eosio.token.abi
/artifacts/compiled_contracts/dac_contracts/stakevote/stakevote.wasm
/artifacts/compiled_contracts/dac_contracts/stakevote/stakevote.abi
/artifacts/compiled_contracts/dac_contracts/referendum/referendum.wasm
/artifacts/compiled_contracts/dac_contracts/referendum/referendum.abi
/artifacts/compiled_contracts/dac_contracts/eosdactokens/eosdactokens.wasm
/artifacts/compiled_contracts/dac_contracts/eosdactokens/eosdactokens.abi
/artifacts/compiled_contracts/dac_contracts/distribution/distribution.wasm
/artifacts/compiled_contracts/dac_contracts/distribution/distribution.abi
/artifacts/compiled_contracts/dac_contracts/dacproposals/dacproposals.wasm
/artifacts/compiled_contracts/dac_contracts/dacproposals/dacproposals.abi
/artifacts/compiled_contracts/dac_contracts/dacmultisigs/dacmultisigs.wasm
/artifacts/compiled_contracts/dac_contracts/dacmultisigs/dacmultisigs.abi
/artifacts/compiled_contracts/dac_contracts/dacescrow/dacescrow.wasm
/artifacts/compiled_contracts/dac_contracts/dacescrow/dacescrow.abi
/artifacts/compiled_contracts/dac_contracts/dacdirectory/dacdirectory.wasm
/artifacts/compiled_contracts/dac_contracts/dacdirectory/dacdirectory.abi
/artifacts/compiled_contracts/dac_contracts/daccustodian/daccustodian.wasm
/artifacts/compiled_contracts/dac_contracts/daccustodian/daccustodian.abi
/yarn-error.log
/yarn.lock
